.support-container {
  text-align: left;
  color: white;
  border-radius: 10px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.faq,
.contact {
  margin-bottom: 4rem;
  padding: 3rem 7rem;
  border-radius: 8px;
  background: #333;
}

.tutorials {
  margin-bottom: 4rem;
  width: 100%;
  border-radius: 8px;
}

h3 {
  font-size: 1.5rem;
  /* margin-bottom: 3rem; */
}

.faq-item {
  cursor: pointer;
  background: #222;
  display: flex;
  align-items: left;
  padding: 1rem;
  border-left: 4px solid #4e92e0;
  background-color: #222;
  border-radius: 4px;
  border-bottom: 1px solid #333;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.faq-answer {
  margin-top: 5px;
  font-size: 14px;
}

.guides-container {
  display: flex;
  /* flex-direction: column; */
  gap: 15px;
}

.guide-card {
  background: #333;
  padding: 1rem 1rem 2rem 2rem;
  border-radius: 10px;
  text-align: left;
  width: 100%;
}

.guide-card h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.guide-card p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
}

.guide-card a {
  text-decoration: none;
  color: #4da6ff;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  background: #222;
  color: white;
}

textarea {
  height: 80px;
  border-radius: 10px;
}

.send-button {
  background: #4da6ff;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
}

.send-button:hover {
  background: #0056b3;
}
